<!DOCTYPE html>
<html>
  <head>
    <title>LmsRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag params[:controller] if stylesheet_exists?(params[:controller]) %>

    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/sweetalert2@8' %>
    <%= javascript_include_tag 'feather.min.js' %>
    <%= javascript_include_tag 'application' %>
    
    <%= javascript_include_tag params[:controller] if javascript_exists?(params[:controller]) %>
    
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <div class="container-fluid">
      <div class="container-fluid">
        <%= render 'partials/sidebar' %>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <%= yield %>
        </main>
      </div>
    </div>
  </body>

    <script>
      feather.replace()
    </script>
    
</html>
